@import url('./normalize.css');

:root {
    --green: #c5f82a;
    --white: #ffffff;
    --dark-grey: #1f1f1f;
    --off-black: #141414;
    --button: #333333;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

body {
    font-family: 'Inter';
    color: var(--white);
    font-size: 14px;
    background-color: var(--off-black);
}

main {
    width: 100vw;
    min-height: 100dvh;
    align-content: center;
}

#card {
    width: 300px;
    margin: 1em auto;
    background-color: var(--dark-grey);
    border-radius: 10px;
    padding: 3em;
    text-align: center;
}

#profile-description h2 {
    font-size: x-large;
    font-weight: 500;
    margin-bottom:10px;
}

#profile span {
    color: var(--green);
    font-weight: 600;
}

#profile img {
    border-radius: 50%;
    width: 100px;
}

#social-links {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.link {
    color: var(--white);
    border-radius: 6px;
    padding: 1em 0;
    background-color: var(--button);
    border: 0;
    font-weight: bold;
    letter-spacing: 0px;
    cursor: pointer;
}

.link:hover {
    background-color: var(--green);
    color: var(--off-black)
}

#career {
    margin: 2em 0;
    color: #ababab;
}


@media (width <= 376px) {
    #card {
        width: 240px;
        padding: 2em;
    }
}